services:
  visual-worker:
    build: .
    container_name: visual-worker
    restart: always
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    volumes:
      - ./logs:/app/logs
      - ./src:/app/src
      - ${VOLUME_BASE_PATH}:/app/storage
    networks:
      - app-network

networks:
  app-network:
    driver: bridge